PORT=3000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/portfolio
MAIL_USER=your_gmail_address@gmail.com
MAIL_PASS=your_gmail_app_password
RECEIVER_EMAIL=your_gmail_address@gmail.com
